<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>

</head>

<body class="container">

  <header>
    <% include ../partials/nav %>
  </header>

  <main>

    <div class="jumbotron">
    <h1>Kathryn Tweel</h1>
    <p>Computer Science | Tufts</p>

    </div>

    <div class="content">

    <div class="weather">
  
    <p class="weather">Here's the weather in 
    <span class="city"></span>!
    </p>
    <p class="weather"> The temperature is 
    <span class="temp"></span>
    </p>
    <p class="weather"> And the weather is 
    <span class="description"></span>
    </p>
    </div>

    <input class="search" type="text" placeholder="Enter City name..." />
    <button type="button" onclick="searchWeather()"> Search </button>
    </div>
  </main>

<footer>

<% include ../partials/footer %>

</footer>


</body>

</html>