<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>

</head>

<body>

  <header>
    <% include ../partials/nav %>
  </header>

<main>
  <h1>YOYO web apps are so cool</h1>

  <p id="demo">
    This is me testing out a lil html file

    hi
  </p>

  <button type="button" onclick="myFunction()">
    Try it
  </button>

  <div class="city"></div>
  <div class="temp"></div>

  <input class="search" type="text" placeholder="Enter City name..." />
  <button type="button" onclick="searchWeather()"> Search </button>

</main>

<footer>

<% include ../partials/footer %>

</footer>


</body>

</html>