<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>

</head>

<body >

  <header>
    <% include ../partials/nav %>
  </header>

  <main>

    <div class="jumbotron">
    <h1>Resume</h1>
    </div>

    <div class="container">
    <div class="general-container resume-container">
        
        <div>

            <h3>Girls Who Code</h3>
            <h4>Teaching Assistant</h4>
            <h4>June 2016 - August 2016</h4>
            <ul>
            <li>Taught high school juniors and seniors computer science concepts in Scratch, Python, robotics, HTML/CSS, and Javascript</li>
            <li>Facilitated the students brainstorming of final project ideas and provided assistance in the completion of those projects.</li>
            </ul>

        </div>
    </div>

    <div class="general-container resume-container">
        
        <div>

            <h3>Tufts University Computer Science Department</h3>
            <h4>Teaching Assistant</h4>
            <h4>Jan 2016 - Present</h4>
            <ul>
            <li>Assist Introduction to Computer Science students in 
            completing assigned projects</li>
            <li>Hold weekly office hours to answer student questions</li>
            <li>Grade homework assignments and exams</li>
            </ul>

        </div>
    </div>

    <div class="general-container resume-container">
        
        <div>

            <h3>West Virginia Purchasing Division</h3>
            <h4>Technical Intern</h4>
            <h4>June 2015 - August 2015</h4>
            <ul>
            <li>Updated Purchasing Division website with relevant changes and accessibility updates</li>
            <li>Built new website for the Governor’s Committee for the Purchase of Commodities and Services from the Handicapped, <a href="http://gcpcsh.wv.gov">gcpcsh.wv.gov</a></li>
            <li>Maintained Purchasing Division app and database for conference registration</li>
            </ul>

        </div>
    </div>

    <div class="general-container">
        
        <div>

            <h1>Activities</h1>

        </div>
    </div>
    
  

    <div class="general-container">
        
        <div>

            <h3>Girl Scouts USA</h3>
            <h4>Troop Co-Leader/Volunteer</h4>
            <h4>September 2014 - Present</h4>
            <ul>
            <li>Plan meeting activities and cookie sales for a Brownie Troop (3rd and 4th graders) on campus</li>
            <li>Lead girls during meetings to earn badges, learn about other cultures, and discuss the value of community service</li>
            <li>Coordinate Tufts volunteers in leading activities for our troop and assisting other troops in the Medford/Somerville area</li>
            </ul>

        </div>
    </div>

    <div class="general-container">
        
        <div>

            <h3>Women in Computer Science at Tufts</h3>
            <h4>2015 - Present</h4>
            
            

        </div>
    </div>

    </div>


<h3>Education</h3>
<div id="Education">
<p>Tufts University, Medford, MA</p>
<p>Bachelor of Science in Computer Science, May 2018</p>
<p>Second major in child development</p>
</div>
<h3>Relevant Coursework</h3>
<h4>Computer Science</h4>
<ul>
<li>Computation Theory</li>
<li>Web Programming</li>
<li>Algorithms</li>
<li>Machine Structures and Assembly Language Programming</li>
<li>Data Structures</li>
</ul>
<h4>Child Development</h4>
<ul>
<li>The Exceptional Child</li>
<li>Children and New Technologies</li>
<li>Inquiry and Analysis in Child Development</li>
</ul>
<h3>Professional Experience</h3>



<h3>Skills</h3>
<p>Java, Python, HTML, C and C++ programming languages</p>
<p>Microsoft Office and Microsoft Access</p>

<h3>Activities</h3>

<p>Women in Computer Science at Tufts, 2015-Present</p>
<p>Protestant Student Association, 2014-Present<br/>
    - Spiritual Formation Coordinator - organize small groups within the PSA</p>


  </main>

<footer>

<% include ../partials/footer %>

</footer>


</body>

</html>